.DS_Store
*.fits
*.fit
*.fz
node_modules/
tmp/
frontend/public/javascripts/app.js
frontend/public/javascripts/app.css
frontend/public/test/javascripts/test.js
frontend/public/javascripts/vendor.js
frontend/public/stylesheets/app.css
frontend/public/test/javascripts/test.js
frontend/public/csle-sockets.js
*\~
