<div class='astro_data'></div>
<div class='spectra'></div>

<input data-type="q" type="range"/>
<input data-type="alpha" type="range"/>

<script type="text/javascript" src="javascripts/astro_data.js"></script>
