<div class='astro-data'>
  <div class="hero-unit">
    <p class="text-center">
      <img class="logo" src="./images/astroviz_logo.svg"></img>
    </p>
  </div>
  
  <article class='first'>
    <label>
      &alpha;
      <input data-type="q" type="range" min="0.01" max="0.4" step="0.01" value="0.03"/>
    </label>
    <label>
      Q
      <input data-type="alpha" type="range" min="0.01" max="1" step="0.01" value="0.01"/>
    </label>
    
    <div class='metadata'></div>
  </article>
  
  <article class='middle'>
    <div class='image'></div>
  </article>
  
  <article class='last'>
    <div class='histograms'>
      <div class='histogram histogram-i'></div>
      <div class='histogram histogram-r'></div>
      <div class='histogram histogram-g'></div>
    </div>
  </article>

<script type="text/javascript" src="javascripts/astro_data.js"></script>
{{> overlay}}
