<div class='astro-data'>
  <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic|Numans' rel='stylesheet' type='text/css'>
  
  <div class="hero-unit">
    <p class="text-center">
      <img class="logo" src="./images/astroviz_logo.png"></img>
    </p>
  </div>
  
  <article class='first'>
    <div class='pixel-info'>
      <table>
        <tr title="Current X coordinate">
          <td>X</td>
          <td data-type='x'>-</td>
        </tr>
        <tr title="Current Y coordinate">
          <td>Y</td>
          <td data-type='y'>-</td>
        </tr>
        <tr title="Right ascension (latitudinal)">
          <td>RA</td>
          <td data-type='ra'>-</td>
        </tr>
        <tr title="Declination (longitudinal)">
          <td>Dec</td>
          <td data-type='dec'>-</td>
        </tr>
        <tr title="Red (current pixel)">
          <td>R</td>
          <td data-type='r'>-</td>
        </tr>
        <tr title="Green (current pixel)">
          <td>G</td>
          <td data-type='g'>-</td>
        </tr>
        <tr title="Blue (current pixel)">
          <td>B</td>
          <td data-type='b'>-</td>
        </tr>
      </table>
    </div>
    <label title="Decrease bright parts">
      &alpha;
      <input data-type="q" type="range" min="0.01" max="0.4" step="0.01" value="0.03"
      title="Decrease bright parts"/>
    </label>
    <label title="Increase dim parts">
      Q
      <input data-type="alpha" type="range" min="0.01" max="1" step="0.01" value="0.01"
      title="Increase dim parts"/>
    </label>
    
    <div class='metadata'></div>
  </article>
  
  <article class='middle'>
    <svg class="annotation" xmlns="http://www.w3.org/2000/svg"></svg>
    <div class='image'></div>
    {{> overlay}}
  </article>
  
  <article class='last'>
    <div class='histograms'>
      <div class='histogram histogram-i' title="Red values"></div>
      <div class='histogram histogram-r' title="Blue values"></div>
      <div class='histogram histogram-g' title="Green values"></div>
    </div>
    
    <div class='metadata'></div>
  </article>
  
</div>
<script type="text/javascript" src="javascripts/astro_data.js"></script>
