<div id='main'>

<h1>CSLE</h1>
<i>Collaborative Science Learning Environment</i>

<div class='home'>
  <a href='/solar-system'>Solar System</a>
  <a href='/astro-data'>Astronomical Data</a>
  <a href='/curiosity'>Curiosity</a>
</div>

<!-- TODO: buttons to show who's connected -->

</div>