<!-- .solar_system -->
<link rel="stylesheet" href="stylesheets/solar_system.css">
<div style="display:none">
  <span id="label_template" class="label">
    <span class="name">
    </span>
  </span>
</div>
<div id="loadtext"></div>
<div id="container"></div>
<div id="info">MARS-DOE Solar System</div>
