
.astro-data
  background-color #151515
  background-image url('/images/astroviz-background.jpg')
  padding 0
  display table
  width 100%
  height 100%
  font-family 'Carrois Gothic', 'Numans', sans-serif
  
  .hero-unit
    padding-bottom 0
  
    .logo
      width 1052px
      height 32px
      
  article
    float left
    color #FAFAFA
    
    label
      letter-spacing 3px
      font-size 18px
    
    &.first
      width 25%
      padding 20% 3% 0
      
      table
        margin-top 138px
        color #FAFAFA
        
        td
          padding-right 10px
    &.middle
      width 50%
      padding-left 50px
      .image
        border 1px solid #FAFAFA
    &.last
      width 25%
    input[type='range']
      -webkit-appearance none !important
      background #FAFAFA
      height 2px

    input[type='range']::-webkit-slider-thumb
      -webkit-appearance none !important
      background #FAFAFA
      height 20px
      width 6px

.histograms
  .histogram
    
    .axis
      fill none
      stroke white
      stroke-width 1px
  
    .tick
      font-size 11px
  
    rect
      &.i
        fill red
      &.r
        fill green
      &.g
        fill blue
