body
  font-family 'Carrois Gothic', sans-serif
  font-family 'Numans', sans-serif

#main
  width 800px
  margin 0 auto 0 auto
  padding 1em
  h1
    margin-bottom 0.25em

.home
  padding 1em
  a
    display inline-block
    padding-right 1em

.container 
	width 724px


.logo
	width 680px
  
a:visited, .btn
  color#ffffff

.btn-success
  color #ffffff
  background-color #7d9948
  *background-color #7d9948
  background-image none

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled]
  background-color #7d9948

.btn-success:hover
    color d5d5d5

.btn-success:active
  color #ffffff
  background-color #7d9948


.btn-large
  width 220px
  
.client-text
  font-size 85%
  margin-top 20px
  text-align center
  
.iplist-text
  font-size 85%
  margin-top 20px
  text-align left
  
.iplist-text:hover,
.iplist-text:active,
.iplist-text:focus
  text-color #FFDDDD  

  
.text-counter 
  color #f27052;
  font-size 56px
  font-weight bold
  text-align:center

a.text-counter:hover,
a.text-counter:focus 
  color #f27052
  font-size 48px
  font-weight bold


.btn-ips
  color #ffffff
  background-color #959595
  *background-color #959595
  background-image none
  margin-top 20px
  width 150px
  height 50px
  font-size 85%
  
.btn-ips:hover,
.btn-ips:focus,
.btn-ips:active,
.btn-ips.active,
.btn-ips.disabled,
.btn-ips[disabled]
  background-color #959595


.btn-ips:active
  color #ffffff
  background-color #959595  